<nav class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <li><a routerLink="/home">NANARWEB</a></li>

            <li><a class="nav-link"  routerLink="/cycles">ALL CYCLES</a></li>
            <li><a class="nav-link"  routerLink="/cycle-add">ADD A CYCLE</a></li>
            <li><a class="nav-link"  routerLink="/film-add">ADD A FILM</a></li>
            <li><a class="nav-link"  routerLink="/search">SEARCH</a></li>
        </nav>
    </div>
</nav>



<!-- TUTORIAL BOOTSTRAP:
https://getbootstrap.com/docs/5.3/getting-started/introduction/

NICE TEMPLATE:
https://getbootstrap.com/docs/4.0/examples/cover/#
<header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header> -->