<header class="mb-auto">
    <div class="inner cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <li><a  class="float-md-start mb-0" routerLink="/home">NANARWEB</a></li>
            <li><a class="nav-link float-md-start mb-0" routerLink="/cycles">TOUS LES CYCLES</a></li>
            <li><a class="nav-link float-md-start mb-0" routerLink="/cycle-add">AJOUTER UN CYCLE</a></li>
            <li><a class="nav-link float-md-start mb-0" routerLink="/film-add">AJOUTER UN FILM</a></li>
            <li><a class="nav-link float-md-start mb-0" routerLink="/search">RECHERCHE</a></li>
        </nav>
    </div>



<!-- TUTORIAL BOOTSTRAP:
https://getbootstrap.com/docs/5.3/getting-started/introduction/

NICE TEMPLATE:
https://getbootstrap.com/docs/5.3/examples/cover/# -->