<nav class="uk-navbar-container" uk-navbar>
<!-- https://getuikit.com/docs/introduction -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><p>NANARWEB</p><p>NANARWEB</p></li>

            <li><a routerLink="/cycles">TOUS LES CYCLES</a></li>
            <li><a routerLink="/cycle-add">AJOUTER UN CYCLE</a></li>
            <li><a routerLink="/film-add">AJOUTER UN FILM</a></li>
            <li><a routerLink="/search">RECHERCHE</a></li>
        </ul>

    </div>
</nav>